#maze {
  display: grid;
}

.cell {
  background-color: black;
  position: relative;
}

.path {
  background-color: green;
  position: absolute;
}

.player {
  position: absolute;
  background-color: red;
}